@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 4vh 10px;
  background-color: black;
  color: white;
}

img {
  height: 40px;
  width: auto;
}

main {
  display: flex;
}

nav {
  width: 20%;
  padding: 5px 5px;
}
nav .logoTop {
  position: fixed;
  left: 4%;
}
nav .fixed {
  position: fixed;
  top: 15vh;
}
nav .fixed div {
  display: flex;
  flex-direction: column;
}
nav .fixed div div {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  margin-left: 25%;
}
nav .fixed div div p {
  margin: auto 5px;
}
nav .fixed div div img {
  height: 35px;
  width: auto;
  padding-right: 10px;
}
nav .logo {
  margin-bottom: 5vh;
}
nav .dashboard {
  padding: 5px 10px;
  margin: 20px 19%;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  border-radius: 17px;
  color: black;
  width: 100%;
}
nav .dashboard div {
  display: flex;
}
nav .dashboard div img {
  fill: black;
}
nav .exit {
  position: fixed;
  bottom: 15px;
  width: 11%;
}
nav .exit div {
  display: flex;
}

section {
  width: 55%;
  padding: 5px 20px;
}
section .title {
  display: flex;
  justify-content: space-between;
}
section .title div {
  background-color: white;
  border-radius: 10px;
  margin-right: 6%;
  width: 47%;
}
section .title div img {
  height: 35px;
  width: auto;
  margin: 2px 5px;
  background-color: white;
  border: none;
}
section .title div input {
  background-color: white;
  border: none;
  margin: 2px 5px;
  width: 100%;
  outline: none;
}
section div div {
  display: flex;
  align-items: center;
}
section div div span {
  margin-left: 2vh;
  padding: 0.2rem 0.5rem;
  background-color: #FAFF00;
  border-radius: 5px;
  color: black;
}
section div div .slider {
  display: flex;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: #292727;
  border-radius: 10px;
}
section div div .slider p {
  padding: 3px 10px;
  background-color: #292727;
  border-radius: 10px;
}
section div div .slider .portfolio {
  background-color: black;
}
section div img {
  width: 90%;
  height: auto;
}
section .under_title {
  display: flex;
  justify-content: space-between;
}
section .bottom div {
  display: flex;
  margin: 2vh auto;
  background-color: #16181e;
  border-radius: 30px;
  padding: 0 2%;
}
section .bottom div img {
  height: 40px;
  width: auto;
  background-color: transparent;
}
section .bottom div .wave {
  height: 10px;
  width: auto;
  background-color: transparent;
}
section .bottom div div {
  display: flex;
  flex-direction: column;
}
section .bottom div div p {
  background-color: #16181e;
}

sider {
  width: 25%;
  padding: 5px 5px;
}
sider .top {
  display: flex;
  justify-content: space-between;
}
sider .mid {
  margin-top: 8vh;
  width: 100%;
  /*
          div{
              display: flex;
              margin: 5px 15px;
              text-align: end;

              div{
                  display: flex;
                  flex-direction: column;
              }
          }
  */
}
sider .mid .crypto {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  font-family: "Inter", sans-serif;
  margin-top: 5px;
}
sider .mid .crypto div .green {
  color: #4AD619;
}
sider .mid .crypto div .red {
  color: #D61919;
}
sider .bot div {
  border-radius: 15px;
  padding: 8px;
}
sider .bot div .flux {
  display: flex;
  justify-content: space-between;
}
sider .bot .bitcoin {
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
  border-radius: 30px;
  margin-bottom: 15px;
}
sider .bot .etherium {
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
  border-radius: 30px;
  color: black;
}

@media screen and (max-width: 767.98px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  nav {
    width: 20%;
  }
  nav .logoTop {
    display: none;
  }
  nav .fixed {
    position: fixed;
    top: 30vh;
    left: 0;
  }
  nav .fixed .dashboard {
    display: none;
  }
  nav .fixed p {
    display: none;
  }
  nav .fixed img {
    width: 3vh;
    height: 3vh;
  }
  section {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 7vh;
  }
  section .title {
    width: 100%;
  }
  section .title .search {
    width: 100%;
    margin-bottom: 2vh;
  }
  section h1 {
    display: none;
  }
  section .milieu {
    width: 105%;
  }
  section .milieu .slider {
    display: none;
  }
  section .milieu img {
    margin-top: 2vh;
    width: 100%;
  }
  section .bottom img {
    display: none;
  }
  section .bottom div:nth-child(4) {
    display: none;
  }
  sider {
    width: 82%;
    margin-left: 8vh;
    margin-top: -5vh;
  }
  sider .top {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */